@font-face {
    font-family: 'Logo';
    src: url('../fonts/Roboto_Condensed-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'r-txt';
    src: url('../fonts/Jua-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'm-txt';
    src: url('../fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}