@use '../base/var';
.about-s1{
    position: relative;
    height: 100vh;
}
.about-s2{
    height: 300vh;
    &-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 100%;
        .about-s2-tit{
            h2{
                font-family: var.$Lft;
                font-size: 180px;
                font-weight: 700;
                p{
                    position: relative;
                    font-size: 78px;
                    font-weight: 500;
                    svg{
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        stroke: var.$Mcl;
                        width: 5vw;
                    }
                }
            }
        }
        .about-s2-txt{
            margin-top: 100px;
            p{
                font-size: 40px;
                font-weight: 400;
            }
        }
    }
}
.about-s3{
    position: relative;
    height: 100vh;
    &-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .about-s3-tit{
            h2{
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    font-size: 8vw;
                    font-weight: 700;
                    font-family: var.$Lft;
                    .img1, .img2{
                        width: 0;
                        opacity: 0;
                        transition: width 0.8s cubic-bezier(.6,0,.2,1), opacity 0.5s linear;
                        &.active{
                            opacity: 1;
                            width: 308px;
                        }
                    }
                }
            }
        }
        .about-s3-txt{
            opacity: 0;
            margin-top: 50px;
            p{
                font-size: 28px;
                font-weight: 400;
                font-family: var.$Mft;
                text-align: center;
            }
        }
    }
}
.about-s4{
    &-inner{
        .about-s4-tit{
            padding: 20px;
            h2{
                font-family: var.$Lft;
                p{
                    &:nth-child(1){
                        font-size: 78px;
                        font-weight: 500;
                    }
                    &:nth-child(2){
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        font-size: 180px;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
            }
        }
        .about-circle{
            height: 600vh;
            transition: background 0.5s ease-in-out;
            &.active{
                background: #ffa6a6;
            }
            .circle{
                max-width: 33vw;
                width: 760px;
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .circle__inner{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: max-content;
                    text-align: center;
                    .circle-txt1{
                        font-size: 42px;
                        font-weight: 700;
                        line-height: 1.5;
                        color: #000;
                        margin-bottom: 40px;
                    }
                    .circle-txt2{
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 0.02rem;
                        color: #000;
                        margin-bottom: 40px;
                    }
                    .circle-txt3{
                        line-height: 1.7;
                        font-size: 18px;
                        color: #fff;
                        font-weight: 400;
                    }
                    .circle-txt4{
                        line-height: 1.7;
                        font-size: 18px;
                        color: var.$Mcl;
                        font-weight: 700;
                    }
                    .ct{
                        opacity: 0;
                    }
                }
                .circle-img-txt{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: var.$Lft;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #000;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    opacity: 0;
                    .img-txt1{
                        position: absolute;
                        top: 30%;
                        font-size: 26px;
                        font-weight: 500;
                        line-height: 1.5;
                    }
                    .img-txt2{
                        display: flex;
                        align-items: baseline;
                        gap: 10px;
                        position: absolute;
                        top: 60%;
                        transform: translateY(-50%);
                        font-size: max(140px);
                        line-height: 1.5;
                        &.etc{
                            font-size: 30px;
                        }
                        .val{
                            font-size: 30px;
                        }
                        .plus{
                            position: absolute;
                            font-size: 30px;
                            right: -20px;
                            top: 44%;
                            transform: translateX(-50%);
                        }
                    }
                    span{
                        color: #000;
                    }
                }
                .circle-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    img{
                        position: absolute;
                    }
                    &-txt{
                        .img-txt1{

                        }
                        .img-txt2{

                        }
                        span{

                        }
                    }
                }
            }
        }
    }
}

.about-s5{
    overflow: hidden;
    &-inner{
        .about-s5-tit{
            display: flex;
            align-items: center;
            .slide{
                display: flex;
                align-items: center;
                flex-shrink: 0;
                font-size: 120px;
                font-family: var.$Lft;
                font-weight: 700;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        .char-box{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            padding: 0 20px;
            .char-box-inner{
                position: relative;
                width: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;
                border-radius: 10px;
                &:hover{
                    .txt-box{
                        .bg{
                            clip-path: circle(50% at 50% 50%);
                        }
                        .txt{
                            opacity: 1;
                        }
                    }
                }
                &:nth-child(1){
                    .bg{
                        background-color: #FFD905;
                    }
                }
                &:nth-child(2){
                    .bg{
                        background: #5546FF;
                    }
                }
                &:nth-child(3){
                    .bg{
                        background: var.$Mcl;
                    }
                }
                &:nth-child(4){
                    .bg{
                        background: #93FF7E;
                    }
                }
                .img-box{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .txt-box{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    font-weight: 700;
                    width: 100%;
                    height: 100%;
                    .bg{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 200%;
                        padding-top: 200%;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        clip-path: circle(0% at 50% 50%);
                        transition: clip-path 0.6s;
                    }
                    .txt{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 1.3;
                        text-align: center;
                        transition: 0.5s 0.2s;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.about-s6{
    height: 600vh;
    &-inner{
        position: relative;
        padding: 0 20px;
        height: 100%;
        .about-s6-tit{
            position: absolute;
            top: 15%;
            h2{
                font-family: var.$Lft;
                font-size: 180px;
                font-weight: 700;
            }
        }
        .progress-bar{
            position: absolute;
            top: 45%;
            left: 20px;
            right: 20px;
            height: 5px;
            background: #d9d9d9;
            .progress-bar--inner{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: #000;
            }
        }
        .career-slide{
            position: absolute;
            top: 45%;
            left: 20px;
            .career-box{
                display: flex;
                gap: 200px;
                &--inner{
                    flex-shrink: 0;
                    .year{
                        font-size: 96px;
                        font-weight: 700;
                        font-family: var.$Lft;
                    }
                    .txt{
                        font-size: 28px;
                        font-weight: 400;
                        font-family: var.$Mft;
                    }
                }
            }
        }
    }
}