@use '../base/var';
@use '../utils/mixin' as *;

.contact-s1{
    height: 100vh;
}
.contact-s2{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include mobile{
        max-width: unset;
        padding: 0 40px;
    }
    .contact-inner{
        .form-area{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            @include mobile{
                flex-direction: column;
            }
            .item{
                @include mobile{
                    max-width: 100% !important;
                }
                &:not(:nth-child(5)){
                    max-width: calc(50% - 15px);
                    width: 100%;
                }
                &:nth-child(5){
                    max-width: 100%;
                    width: 100%;
                }
                .form-tit{
                    font-size: 25px;
                    font-weight: 500;
                    font-family: var.$Lft;
                    @include mobile{
                        font-size: 3.5vw;
                    }
                }
                .form-cont{
                    input{
                        width: 100%;
                        height: 50px;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1px solid #111;
                    }
                    textarea{
                        appearance: none;
                        border: none;
                        border-radius: 0;
                        font-size: inherit;
                        width: 100%;
                        height: 150px;
                        border-bottom: 1px solid #000;
                        resize: none;
                        padding: 12px 0;
                    }
                }
                .error{
                    display: none;
                    color: #ff0000;
                    font-size: 14px;
                    margin-top: 8px;
                    font-family: var.$Mft;
                    @include mobile{
                        font-size: 2.5vw;
                    }
                }
            }
            .btn-box{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                z-index: 10;
                .area{
                    .btn-wrap{
                        display: flex;
                        position: relative;
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        border: 1px solid #111;
                        align-items: center;
                        justify-content: center;
                        font-family: var.$Mft;
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 0.9;
                        text-align: center;
                        cursor: pointer;
                        @include mobile{
                            width: 34vw;
                            height: 34vw;
                            font-size: 5vw;
                        }
                        &:hover{
                            .hover{
                                clip-path: circle(50% at 50% 50%);
                            }
                        }
                    }
                    span{
            
                    }
                    .hover{
                        width: 100%;
                        height: 100%;
                        background: #000;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 50%;
                        clip-path: circle(0% at 50% 50%);
                        transition: clip-path 0.3s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg{
            
                        }
                    }
                }
            }
        }
    }
}