@use '../base/var';
@use '../utils/mixin' as *;

.s1{
    height: 600vh;
    &-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        h2{
            color: var.$Mcl;
            font-family: var.$Mft;
            font-size: 13vw;
            font-weight: 700;
            letter-spacing: -10px;
            text-transform: uppercase;
            text-align: center;
            @include mobile{
                letter-spacing: -2px;
            }
        }
        .s1-tit{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            mix-blend-mode: luminosity;
            line-height: .8;
            height: 100%;
        }
        .s1-bg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-15deg) scale(.3);
            opacity: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: #000;
        }
        .s1-bg__tit{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            opacity: 0;
            h2{
                color: #fff;
                font-size: 4vw;
                letter-spacing: unset;
            }
        }
    }
}
.s2{
    position: relative;
    z-index: 5;
    background: #fff;
    height: 300vh;
    margin-top: -100vh;
    &-inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        height: 100%;
        @include mobile{
            gap: 10px;
            padding: 20px;
        }
        .s2-tit{
            h2{
                font-size: 10vw;
                font-family: var.$Mft;
                font-weight: 700;
                @include mobile{
                    font-size: 18vw;
                }
            }
            p{
                font-size: 2vw;
                font-family: var.$Mft;
                font-weight: 700;
                @include mobile{
                    font-size: 4vw;
                }
                svg{
                    display: inline-block;
                    position: absolute;
                    stroke: var.$Mcl;
                    width: 3vw;
                    @include mobile{
                        width: 5vw;
                    }
                }
                .devlop{
                    transform: scale(0);
                }
            }
        }
        .s2-contents{
            &-inner{
                display: flex;
                gap: 30px;
                @include mobile{
                    gap: 20px;
                    flex-direction: column-reverse;
                }
                .s2-contents-tit{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 10px;
                    width: 50%;
                    @include mobile{
                        width: 100%;
                    }
                    p{
                        font-size: 2vw;
                        font-family: var.$Mft;
                        font-weight: 700;
                        line-height: 1.5;
                        text-align: right;
                        @include mobile{
                            text-align: left;
                            font-size: 3.5vw;
                        }
                    }
                }
                img{
                    opacity: 0;
                    border-radius: 20px;
                    transform: translateX(-100px);
                    width: 50%;
                    height: 400px;
                    object-fit: cover;
                    @include mobile{
                        height: 200px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
.s3{
    position: relative;
    height: 500vh;
    background: var.$Mcl;
    margin-top: 150px;
    @include mobile{
        margin-top: 50px;
    }
    .s3-tit{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 10vw;
            font-weight: 700;
            color: #000;
            font-family: var.$Mft;
            text-align: center;
            line-height: 1;
        }
    }
    .project-list{
        li{
            position: absolute;
            width: 28%;
            height: 360px;
            transform: translateX(-50%);
            @include mobile{
                width: 35%;
                height: 180px;
            }
            &:nth-child(1){
                left: 20%;
                top: 25%;
                @include mobile{
                    top: 15%;
                }
            }
            &:nth-child(2){
                top: 30%;
                left: 80%;
                @include mobile{
                    top: 20%;
                }
            }
            &:nth-child(3){
                top: 35%;
                left: 50%;
                @include mobile{
                    top: 30%;
                }
            }
            &:nth-child(4){
                top: 40%;
                left: 20%;
                @include mobile{
                    top: 40%;
                }
            }
            &:nth-child(5){
                top: 45%;
                left: 80%;
                @include mobile{
                    top: 45%;
                }
            }
            &:nth-child(6){
                top: 50%;
                left: 50%;
                @include mobile{
                    top: 55%;
                }
            }
            &:nth-child(7){
                top: 55%;
                left: 20%;
                @include mobile{
                    top: 65%;
                }
            }
            &:nth-child(8){
                top: 60%;
                left: 80%;
                @include mobile{
                    top: 70%;
                }
            }
            &:nth-child(9){
                top: 65%;
                left: 50%;
                @include mobile{
                    top: 80%;
                }
            }
            &:nth-child(10){
                top: 70%;
                left: 20%;
                @include mobile{
                    top: 90%;
                }
            }
            a{
                position: relative;
                width: 100%;
                height: 100%;
                svg, img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                    fill: #fff;
                    @include mobile{
                        background: rgba(0, 0, 0, .1);
                    }
                }
                &:hover{
                    backdrop-filter: blur(10px);
                    @include mobile{
                        backdrop-filter: unset;
                    }
                    .txt-box{
                        opacity: 1;
                    }
                }
                .txt-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    transition: .3s all ease;
                    background: rgba(0, 0, 0, .3);
                    backdrop-filter: blur(10px);
                    border-radius: 15px;
                    opacity: 0;
                    @include mobile{
                        backdrop-filter: unset;
                        background: unset;
                        opacity: 1;
                        mix-blend-mode: difference;
                    }
                    p{
                        text-align: center;
                        font-family: "r-txt";
                        font-size: 26px;
                        @include mobile{
                            font-size: 2vw;
                        }
                        &:nth-child(3){
                            font-size: 20px;
                            @include mobile{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-box{
        position: absolute;
        left: 50%;
        bottom: 150px;
        transform: translate(-50%, -50%);
        z-index: 10;
        @include mobile{
            bottom: 80px;
        }
        .area{
            a{
                display: flex;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border: 1px solid #111;
                align-items: center;
                justify-content: center;
                font-family: var.$Mft;
                font-weight: 500;
                font-size: 26px;
                line-height: 0.9;
                text-align: center;
                @include mobile{
                    width: 100px;
                    height: 100px;
                    font-size: 14px;
                    pointer-events: none;
                }
                &:hover{
                    .hover{
                        clip-path: circle(50% at 50% 50%);
                    }
                }
            }
            span{

            }
            .hover{
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 50%;
                clip-path: circle(0% at 50% 50%);
                transition: clip-path 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{

                }
            }
        }
    }
    .cursor{
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(255,255,255,0.47);
        font-size: 18rem;
        line-height: 1.2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        font-weight: 500;
        border-radius: 50%;
        z-index: 50;
        transform: translate(-50%,-50%);
        pointer-events: none;
        clip-path: circle(0% at 50% 50%);
        transition: clip-path 0.3s, opacity 0.3s;
        font-family: var(--barlow);
        color: #666;
        opacity: 0;
        @include mobile{
            display: none;
        }
        span{
            font-size: 18px;
            font-family: var.$Mft;
        }
        &.active{
            clip-path: circle(50% at 50% 50%);
            opacity: 1;
        }
    }
}

.s4{
    position: relative;
    &-inner{
        display: flex;
        padding: 0 20px;
        @include mobile{
            flex-direction: column;
        }
        .s4-left{
            width: 50%;
            @include mobile{
                width: 100%;
            }
            &-inner{
                padding-top: 150px;
                @include mobile{
                    display: flex;
                    align-items: center;
                    position: unset;
                    overflow: visible;
                    height: unset;
                    padding-top: 50px;
                }
                .s4-tit{
                    @include mobile{
                        width: 50%;
                    }
                    h2{
                        font-size: 10vw;
                        font-family: var.$Mft;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
                .container{
                    position: relative;
                    width: 100%;
                    height: calc(100vh - 534px);
                    @include mobile{
                        width: 50%;
                        height: calc(100vh - 400px);
                    }
                    #matter{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        .item{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: -100px;
                            width: 280px;
                            height: 60px;
                            border-radius: 40px;
                            font-weight: 700;
                            font-family: var.$Rft;
                            font-size: 20px;
                            @include mobile{
                                width: 110px;
                                height: 30px;
                                font-size: 9px;
                            }
                            &:nth-child(1){
                                background: rgba(255,123,202,0.5);
                            }
                            &:nth-child(2){
                                background: rgba(0,240,255,0.5);
                            }
                            &:nth-child(3){
                                background: rgba(147,255,126,0.5);
                            }
                            &:nth-child(4){
                                background: rgba(85,70,255,0.5);
                            }
                            &:nth-child(5){
                                background: rgba(255,179,171,0.5);
                            }
                            &:nth-child(6){
                                background: rgba(214,164,255,0.5);
                            }
                        }
                    }
                    #helper{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        visibility: visible;
                        z-index: -1; // z-index를 -1로 설정해서 DOM 요소 뒤로 보냄
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        .s4-right{
            padding-top: 150px;
            @include mobile{
                padding-top: 50px;
            }
            .sect-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 200px;
                @include mobile{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 40px;
                }
                li{
                    font-size: 5vw;
                    font-family: var.$Mft;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: -8px;
                    color: #999;
                    text-align: center;
                    transition: .3s all ease;
                    width: 33vw;
                    @include mobile{
                        width: unset;
                        letter-spacing: -2px;
                    }
                    .txt-box{
                        width: fit-content;
                        margin: auto;
                        position: relative;
                        @include mobile{
                            position: unset;
                        }
                        span{
                            position: absolute;
                            right: -10%;
                            top: 40%;
                            font-size: 1.5vw;
                            font-weight: 700;
                            letter-spacing: -0.025em;
                            display: flex;
                            transform: translateY(-50%) rotate(-20deg);
                            height: 70px;
                            width: 220px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 41rem;
                            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
                            transition: clip-path 0.3s;
                            @include mobile{
                                display: none;
                            }
                        }
                        &:hover{
                            color: #000;
                            span{
                                clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
                            }
                            @include mobile{
                                pointer-events: none;
                            }
                        }
                    }
                    &:nth-child(1){
                        span{
                            background-color: #FF7BCA;
                        }
                    }
                    &:nth-child(2){
                        span{
                            background-color: #00F0FF;
                        }
                    }
                    &:nth-child(3){
                        span{
                            background-color: #93FF7E;
                        }
                    }
                    &:nth-child(4){
                        span{
                            background-color: #5546FF; 
                            color: #fff;                             
                        }
                    }
                    &:nth-child(5){
                        span{
                            background-color: #FFB3AB;
                        }
                    }
                    &:nth-child(6){
                        span{
                            background-color: #D6A4FF; 
                        }
                    }
                }
            }
        }
    }
}

.s5{
    padding: 100px 0;
    background: #f8f8f8;
    .skill{
        clear: both;
        &:nth-child(1){
            margin-bottom: 20px;
        }
        .line{    
            transition-timing-function: linear !important;
            text-align: center;
            &-item{
                display: inline-block;
                width: 14.48vw;
                padding: 40px 0;
                font-size: 1.5vw;
                border: 1px solid #ff7575;
                border-radius: 70px;
                font-family: "m-txt", sans-serif;
                font-weight: 700;
                color: #ff7575;
                text-transform: uppercase;
                background: linear-gradient(-80deg, #fff, #e0e0e0          );
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), inset 3px 3px 5px rgba(255, 255, 255, 0.7), inset -3px -3px 5px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;
                @include mobile{
                    width: 20vw;
                    padding: 25px 0;
                    font-size: 2vw;
                    border-radius: 50px;
                }
            }
        }
    }
}

.s6{
    height: 300vh;
    @include mobile{
        height: 200vh;
    }
    .s6-inner{
        .s6-tit{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            h2{
                font-family: "m-txt", sans-serif;
                font-weight: 900;
                line-height: 1;
                transform: scale(16, 40);
                text-align: center;
            }
        }
        .sticker{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 0;
            width: 19.8vw;
            height: 19.8vw;
            border-radius: 50%;
            overflow: hidden;
            opacity: 0;
            transform: scale(1.5);
            @include mobile{
                width: 40vw;
                height: 40vw;
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
                .sticker-img{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 19.8vw;
                    height: 19.8vw;
                    transform: rotate(40deg);
                    @include mobile{
                        width: 40vw;
                        height: 40vw;
                    }
                    .visible{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 19.8vw;
                        height: 10.8vw;
                        overflow: hidden;
                        @include mobile{
                            width: 40vw;
                            height: 22vw;
                        }
                    }
                    .cont-wrap{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 19.8vw;
                        height: 19.8vw;
                        transform: rotate(-33deg);
                        @include mobile{
                            width: 40vw;
                            height: 40vw;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
                .sticker-front{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 19.8vw;
                    height: 19.8vw;
                    transform: rotate(40deg);
                    @include mobile{
                        width: 40vw;
                        height: 40vw;
                    }
                    .shadow{
                        position: absolute;
                        left: 0;
                        bottom: 1.8vw;
                        width: 19.8vw;
                        height: 19.8vw;
                        border-radius: 50%;
                        box-shadow: -2px 3px 12px rgba(0,0,0,0.18);
                        @include mobile{
                            width: 40vw;
                            height: 40vw;
                            bottom: 3.6vw;
                        }
                    }
                    .visible{
                        position: absolute;
                        left: 0;
                        top: 9vw;
                        width: 19.8vw;
                        height: 9vw;
                        overflow: hidden;
                        @include mobile{
                            width: 40vw;
                            height: 18vw;
                            top: 18vw;
                        }
                    }
                    .paper{
                        position: absolute;
                        width: 19.8vw;
                        height: 19.8vw;
                        left: 0;
                        bottom: 0;
                        border-radius: 50%;
                        background: #ff9a9a;
                        @include mobile{
                            width: 40vw;
                            height: 40vw;
                        }
                    }
                }
            }
        }
    }
}
.link-kakao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background: var.$Mcl;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    z-index: 999;
    box-shadow: 5px 5px 6px #444;
    @include mobile{
        width: 70px;
        height: 70px;
        font-size: 2vw;
    }
}