@use '../base/var';
@use '../utils/mixin' as *;

.footer{
    height: 10vh;
    &-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        font-family: var.$Mft;
        font-weight: 300;
        font-size: 18px;
        height: 100%;
        a{
            text-decoration: underline;
            text-underline-position: under;
        }
        @include mobile{
            gap: 5px;
        }
        .logo, .git{
            @include mobile{
                flex:3;
                text-align: center;
                font-size: 12px;
            }
        }
        .tel, .mail{
            @include mobile{
                flex:5;
                text-align: center;
                font-size: 12px;                
            }
        }
    }
}