.sticky {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100vh;
}

.page-tit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.page-tit h1 {
  font-size: 19vw;
  font-family: "Logo", sans-serif;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}
.page-tit p {
  font-size: 3.5vw;
  font-weight: 300;
}
.page-tit p strong {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
  position: relative;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

input, select, textarea {
  outline: none;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Roboto_Condensed-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "r-txt";
  src: url("../fonts/Jua-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "m-txt";
  src: url("../fonts/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}
.header {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease-in-out;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-inner .logo a {
  color: #ff7575;
  font-family: "Logo", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header-inner .logo a {
    font-size: 6vw;
  }
}
.header-inner .nav {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "r-txt", sans-serif;
  letter-spacing: -1.5px;
}
@media (max-width: 768px) {
  .header-inner .nav {
    font-size: 14px;
  }
}

.footer {
  height: 10vh;
}
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: "m-txt", sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
}
.footer-inner a {
  text-decoration: underline;
  text-underline-position: under;
}
@media (max-width: 768px) {
  .footer-inner {
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .footer-inner .logo, .footer-inner .git {
    flex: 3;
    text-align: center;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .footer-inner .tel, .footer-inner .mail {
    flex: 5;
    text-align: center;
    font-size: 12px;
  }
}

.s1 {
  height: 600vh;
}
.s1-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.s1-inner h2 {
  color: #ff7575;
  font-family: "m-txt", sans-serif;
  font-size: 13vw;
  font-weight: 700;
  letter-spacing: -10px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 768px) {
  .s1-inner h2 {
    letter-spacing: -2px;
  }
}
.s1-inner .s1-tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  mix-blend-mode: luminosity;
  line-height: 0.8;
  height: 100%;
}
.s1-inner .s1-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg) scale(0.3);
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
}
.s1-inner .s1-bg__tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
}
.s1-inner .s1-bg__tit h2 {
  color: #fff;
  font-size: 4vw;
  letter-spacing: unset;
}

.s2 {
  position: relative;
  z-index: 5;
  background: #fff;
  height: 300vh;
  margin-top: -100vh;
}
.s2-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 100%;
}
@media (max-width: 768px) {
  .s2-inner {
    gap: 10px;
    padding: 20px;
  }
}
.s2-inner .s2-tit h2 {
  font-size: 10vw;
  font-family: "m-txt", sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .s2-inner .s2-tit h2 {
    font-size: 18vw;
  }
}
.s2-inner .s2-tit p {
  font-size: 2vw;
  font-family: "m-txt", sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .s2-inner .s2-tit p {
    font-size: 4vw;
  }
}
.s2-inner .s2-tit p svg {
  display: inline-block;
  position: absolute;
  stroke: #ff7575;
  width: 3vw;
}
@media (max-width: 768px) {
  .s2-inner .s2-tit p svg {
    width: 5vw;
  }
}
.s2-inner .s2-tit p .devlop {
  transform: scale(0);
}
.s2-inner .s2-contents-inner {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .s2-inner .s2-contents-inner {
    gap: 20px;
    flex-direction: column-reverse;
  }
}
.s2-inner .s2-contents-inner .s2-contents-tit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  width: 50%;
}
@media (max-width: 768px) {
  .s2-inner .s2-contents-inner .s2-contents-tit {
    width: 100%;
  }
}
.s2-inner .s2-contents-inner .s2-contents-tit p {
  font-size: 2vw;
  font-family: "m-txt", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-align: right;
}
@media (max-width: 768px) {
  .s2-inner .s2-contents-inner .s2-contents-tit p {
    text-align: left;
    font-size: 3.5vw;
  }
}
.s2-inner .s2-contents-inner img {
  opacity: 0;
  border-radius: 20px;
  transform: translateX(-100px);
  width: 50%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .s2-inner .s2-contents-inner img {
    height: 200px;
    margin-left: auto;
  }
}

.s3 {
  position: relative;
  height: 500vh;
  background: #ff7575;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .s3 {
    margin-top: 50px;
  }
}
.s3 .s3-tit {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.s3 .s3-tit h2 {
  font-size: 10vw;
  font-weight: 700;
  color: #000;
  font-family: "m-txt", sans-serif;
  text-align: center;
  line-height: 1;
}
.s3 .project-list li {
  position: absolute;
  width: 28%;
  height: 360px;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .s3 .project-list li {
    width: 35%;
    height: 180px;
  }
}
.s3 .project-list li:nth-child(1) {
  left: 20%;
  top: 25%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(1) {
    top: 15%;
  }
}
.s3 .project-list li:nth-child(2) {
  top: 30%;
  left: 80%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(2) {
    top: 20%;
  }
}
.s3 .project-list li:nth-child(3) {
  top: 35%;
  left: 50%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(3) {
    top: 30%;
  }
}
.s3 .project-list li:nth-child(4) {
  top: 40%;
  left: 20%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(4) {
    top: 40%;
  }
}
.s3 .project-list li:nth-child(5) {
  top: 45%;
  left: 80%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(5) {
    top: 45%;
  }
}
.s3 .project-list li:nth-child(6) {
  top: 50%;
  left: 50%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(6) {
    top: 55%;
  }
}
.s3 .project-list li:nth-child(7) {
  top: 55%;
  left: 20%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(7) {
    top: 65%;
  }
}
.s3 .project-list li:nth-child(8) {
  top: 60%;
  left: 80%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(8) {
    top: 70%;
  }
}
.s3 .project-list li:nth-child(9) {
  top: 65%;
  left: 50%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(9) {
    top: 80%;
  }
}
.s3 .project-list li:nth-child(10) {
  top: 70%;
  left: 20%;
}
@media (max-width: 768px) {
  .s3 .project-list li:nth-child(10) {
    top: 90%;
  }
}
.s3 .project-list li a {
  position: relative;
  width: 100%;
  height: 100%;
}
.s3 .project-list li a svg, .s3 .project-list li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  fill: #fff;
}
@media (max-width: 768px) {
  .s3 .project-list li a svg, .s3 .project-list li a img {
    background: rgba(0, 0, 0, 0.1);
  }
}
.s3 .project-list li a:hover {
  backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  .s3 .project-list li a:hover {
    backdrop-filter: unset;
  }
}
.s3 .project-list li a:hover .txt-box {
  opacity: 1;
}
.s3 .project-list li a .txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.3s all ease;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  opacity: 0;
}
@media (max-width: 768px) {
  .s3 .project-list li a .txt-box {
    backdrop-filter: unset;
    background: unset;
    opacity: 1;
    mix-blend-mode: difference;
  }
}
.s3 .project-list li a .txt-box p {
  text-align: center;
  font-family: "r-txt";
  font-size: 26px;
}
@media (max-width: 768px) {
  .s3 .project-list li a .txt-box p {
    font-size: 2vw;
  }
}
.s3 .project-list li a .txt-box p:nth-child(3) {
  font-size: 20px;
}
@media (max-width: 768px) {
  .s3 .project-list li a .txt-box p:nth-child(3) {
    font-size: 12px;
  }
}
.s3 .btn-box {
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media (max-width: 768px) {
  .s3 .btn-box {
    bottom: 80px;
  }
}
.s3 .btn-box .area a {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #111;
  align-items: center;
  justify-content: center;
  font-family: "m-txt", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 0.9;
  text-align: center;
}
@media (max-width: 768px) {
  .s3 .btn-box .area a {
    width: 100px;
    height: 100px;
    font-size: 14px;
    pointer-events: none;
  }
}
.s3 .btn-box .area a:hover .hover {
  clip-path: circle(50% at 50% 50%);
}
.s3 .btn-box .area .hover {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s3 .cursor {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.47);
  font-size: 18rem;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-weight: 500;
  border-radius: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  pointer-events: none;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.3s, opacity 0.3s;
  font-family: var(--barlow);
  color: #666;
  opacity: 0;
}
@media (max-width: 768px) {
  .s3 .cursor {
    display: none;
  }
}
.s3 .cursor span {
  font-size: 18px;
  font-family: "m-txt", sans-serif;
}
.s3 .cursor.active {
  clip-path: circle(50% at 50% 50%);
  opacity: 1;
}

.s4 {
  position: relative;
}
.s4-inner {
  display: flex;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .s4-inner {
    flex-direction: column;
  }
}
.s4-inner .s4-left {
  width: 50%;
}
@media (max-width: 768px) {
  .s4-inner .s4-left {
    width: 100%;
  }
}
.s4-inner .s4-left-inner {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .s4-inner .s4-left-inner {
    display: flex;
    align-items: center;
    position: unset;
    overflow: visible;
    height: unset;
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .s4-inner .s4-left-inner .s4-tit {
    width: 50%;
  }
}
.s4-inner .s4-left-inner .s4-tit h2 {
  font-size: 10vw;
  font-family: "m-txt", sans-serif;
  font-weight: 700;
  line-height: 1;
}
.s4-inner .s4-left-inner .container {
  position: relative;
  width: 100%;
  height: calc(100vh - 534px);
}
@media (max-width: 768px) {
  .s4-inner .s4-left-inner .container {
    width: 50%;
    height: calc(100vh - 400px);
  }
}
.s4-inner .s4-left-inner .container #matter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s4-inner .s4-left-inner .container #matter .item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100px;
  width: 280px;
  height: 60px;
  border-radius: 40px;
  font-weight: 700;
  font-family: "r-txt", sans-serif;
  font-size: 20px;
}
@media (max-width: 768px) {
  .s4-inner .s4-left-inner .container #matter .item {
    width: 110px;
    height: 30px;
    font-size: 9px;
  }
}
.s4-inner .s4-left-inner .container #matter .item:nth-child(1) {
  background: rgba(255, 123, 202, 0.5);
}
.s4-inner .s4-left-inner .container #matter .item:nth-child(2) {
  background: rgba(0, 240, 255, 0.5);
}
.s4-inner .s4-left-inner .container #matter .item:nth-child(3) {
  background: rgba(147, 255, 126, 0.5);
}
.s4-inner .s4-left-inner .container #matter .item:nth-child(4) {
  background: rgba(85, 70, 255, 0.5);
}
.s4-inner .s4-left-inner .container #matter .item:nth-child(5) {
  background: rgba(255, 179, 171, 0.5);
}
.s4-inner .s4-left-inner .container #matter .item:nth-child(6) {
  background: rgba(214, 164, 255, 0.5);
}
.s4-inner .s4-left-inner .container #helper {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.s4-inner .s4-right {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .s4-inner .s4-right {
    padding-top: 50px;
  }
}
.s4-inner .s4-right .sect-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}
@media (max-width: 768px) {
  .s4-inner .s4-right .sect-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
.s4-inner .s4-right .sect-list li {
  font-size: 5vw;
  font-family: "m-txt", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -8px;
  color: #999;
  text-align: center;
  transition: 0.3s all ease;
  width: 33vw;
}
@media (max-width: 768px) {
  .s4-inner .s4-right .sect-list li {
    width: unset;
    letter-spacing: -2px;
  }
}
.s4-inner .s4-right .sect-list li .txt-box {
  width: fit-content;
  margin: auto;
  position: relative;
}
@media (max-width: 768px) {
  .s4-inner .s4-right .sect-list li .txt-box {
    position: unset;
  }
}
.s4-inner .s4-right .sect-list li .txt-box span {
  position: absolute;
  right: -10%;
  top: 40%;
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: -0.025em;
  display: flex;
  transform: translateY(-50%) rotate(-20deg);
  height: 70px;
  width: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 41rem;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path 0.3s;
}
@media (max-width: 768px) {
  .s4-inner .s4-right .sect-list li .txt-box span {
    display: none;
  }
}
.s4-inner .s4-right .sect-list li .txt-box:hover {
  color: #000;
}
.s4-inner .s4-right .sect-list li .txt-box:hover span {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}
@media (max-width: 768px) {
  .s4-inner .s4-right .sect-list li .txt-box:hover {
    pointer-events: none;
  }
}
.s4-inner .s4-right .sect-list li:nth-child(1) span {
  background-color: #FF7BCA;
}
.s4-inner .s4-right .sect-list li:nth-child(2) span {
  background-color: #00F0FF;
}
.s4-inner .s4-right .sect-list li:nth-child(3) span {
  background-color: #93FF7E;
}
.s4-inner .s4-right .sect-list li:nth-child(4) span {
  background-color: #5546FF;
  color: #fff;
}
.s4-inner .s4-right .sect-list li:nth-child(5) span {
  background-color: #FFB3AB;
}
.s4-inner .s4-right .sect-list li:nth-child(6) span {
  background-color: #D6A4FF;
}

.s5 {
  padding: 100px 0;
  background: #f8f8f8;
}
.s5 .skill {
  clear: both;
}
.s5 .skill:nth-child(1) {
  margin-bottom: 20px;
}
.s5 .skill .line {
  transition-timing-function: linear !important;
  text-align: center;
}
.s5 .skill .line-item {
  display: inline-block;
  width: 14.48vw;
  padding: 40px 0;
  font-size: 1.5vw;
  border: 1px solid #ff7575;
  border-radius: 70px;
  font-family: "m-txt", sans-serif;
  font-weight: 700;
  color: #ff7575;
  text-transform: uppercase;
  background: linear-gradient(-80deg, #fff, #e0e0e0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), inset 3px 3px 5px rgba(255, 255, 255, 0.7), inset -3px -3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .s5 .skill .line-item {
    width: 20vw;
    padding: 25px 0;
    font-size: 2vw;
    border-radius: 50px;
  }
}

.s6 {
  height: 300vh;
}
@media (max-width: 768px) {
  .s6 {
    height: 200vh;
  }
}
.s6 .s6-inner .s6-tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.s6 .s6-inner .s6-tit h2 {
  font-family: "m-txt", sans-serif;
  font-weight: 900;
  line-height: 1;
  transform: scale(16, 40);
  text-align: center;
}
.s6 .s6-inner .sticker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 19.8vw;
  height: 19.8vw;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transform: scale(1.5);
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker {
    width: 40vw;
    height: 40vw;
  }
}
.s6 .s6-inner .sticker a {
  display: block;
  width: 100%;
  height: 100%;
}
.s6 .s6-inner .sticker a .sticker-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19.8vw;
  height: 19.8vw;
  transform: rotate(40deg);
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-img {
    width: 40vw;
    height: 40vw;
  }
}
.s6 .s6-inner .sticker a .sticker-img .visible {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19.8vw;
  height: 10.8vw;
  overflow: hidden;
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-img .visible {
    width: 40vw;
    height: 22vw;
  }
}
.s6 .s6-inner .sticker a .sticker-img .cont-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19.8vw;
  height: 19.8vw;
  transform: rotate(-33deg);
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-img .cont-wrap {
    width: 40vw;
    height: 40vw;
  }
}
.s6 .s6-inner .sticker a .sticker-img .cont-wrap img {
  width: 100%;
}
.s6 .s6-inner .sticker a .sticker-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19.8vw;
  height: 19.8vw;
  transform: rotate(40deg);
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-front {
    width: 40vw;
    height: 40vw;
  }
}
.s6 .s6-inner .sticker a .sticker-front .shadow {
  position: absolute;
  left: 0;
  bottom: 1.8vw;
  width: 19.8vw;
  height: 19.8vw;
  border-radius: 50%;
  box-shadow: -2px 3px 12px rgba(0, 0, 0, 0.18);
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-front .shadow {
    width: 40vw;
    height: 40vw;
    bottom: 3.6vw;
  }
}
.s6 .s6-inner .sticker a .sticker-front .visible {
  position: absolute;
  left: 0;
  top: 9vw;
  width: 19.8vw;
  height: 9vw;
  overflow: hidden;
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-front .visible {
    width: 40vw;
    height: 18vw;
    top: 18vw;
  }
}
.s6 .s6-inner .sticker a .sticker-front .paper {
  position: absolute;
  width: 19.8vw;
  height: 19.8vw;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  background: #ff9a9a;
}
@media (max-width: 768px) {
  .s6 .s6-inner .sticker a .sticker-front .paper {
    width: 40vw;
    height: 40vw;
  }
}

.link-kakao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  background: #ff7575;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  z-index: 999;
  box-shadow: 5px 5px 6px #444;
}
@media (max-width: 768px) {
  .link-kakao {
    width: 70px;
    height: 70px;
    font-size: 2vw;
  }
}

.about-s1 {
  position: relative;
  height: 100vh;
}

.about-s2 {
  height: 300vh;
}
.about-s2-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
  gap: 20px;
}
@media (max-width: 768px) {
  .about-s2-inner {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .about-s2-inner .about-s2-tit {
    margin-right: auto;
  }
}
.about-s2-inner .about-s2-tit h2 {
  font-family: "Logo", sans-serif;
  font-size: 13vw;
  font-weight: 700;
}
@media (max-width: 768px) {
  .about-s2-inner .about-s2-tit h2 {
    font-size: 20vw;
  }
}
.about-s2-inner .about-s2-tit h2 p {
  position: relative;
  font-size: 4vw;
  font-weight: 500;
}
.about-s2-inner .about-s2-tit h2 p svg {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  stroke: #ff7575;
  width: 5vw;
}
.about-s2-inner .about-s2-txt {
  margin-top: 100px;
}
.about-s2-inner .about-s2-txt p {
  font-size: 2vw;
  font-weight: 400;
}
@media (max-width: 768px) {
  .about-s2-inner .about-s2-txt p {
    font-size: 3.5vw;
  }
}

.about-s3 {
  position: relative;
  height: 100vh;
}
.about-s3-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}
.about-s3-inner .about-s3-tit h2 p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 8vw;
  font-weight: 700;
  font-family: "Logo", sans-serif;
}
.about-s3-inner .about-s3-tit h2 p .img1, .about-s3-inner .about-s3-tit h2 p .img2 {
  width: 0;
  opacity: 0;
  transition: width 0.8s cubic-bezier(0.6, 0, 0.2, 1), opacity 0.5s linear;
}
.about-s3-inner .about-s3-tit h2 p .img1.active, .about-s3-inner .about-s3-tit h2 p .img2.active {
  opacity: 1;
  width: 180px;
}
@media (max-width: 768px) {
  .about-s3-inner .about-s3-tit h2 p .img1.active, .about-s3-inner .about-s3-tit h2 p .img2.active {
    width: 150px;
  }
}
@media (max-width: 600px) {
  .about-s3-inner .about-s3-tit h2 p .img1.active, .about-s3-inner .about-s3-tit h2 p .img2.active {
    width: 60px;
  }
}
.about-s3-inner .about-s3-txt {
  opacity: 0;
  margin-top: 50px;
}
.about-s3-inner .about-s3-txt p {
  font-size: 28px;
  font-weight: 400;
  font-family: "m-txt", sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  .about-s3-inner .about-s3-txt p {
    font-size: 3vw;
  }
}

.about-s4-inner .about-s4-tit {
  padding: 20px;
}
.about-s4-inner .about-s4-tit h2 {
  font-family: "Logo", sans-serif;
}
.about-s4-inner .about-s4-tit h2 p:nth-child(1) {
  font-size: 78px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .about-s4-inner .about-s4-tit h2 p:nth-child(1) {
    font-size: 10vw;
  }
}
.about-s4-inner .about-s4-tit h2 p:nth-child(2) {
  font-size: 180px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 768px) {
  .about-s4-inner .about-s4-tit h2 p:nth-child(2) {
    font-size: 20vw;
  }
}
@media (max-width: 768px) {
  .about-s4-inner .about-s4-tit h2 p:nth-child(2) br {
    display: none;
  }
}
.about-s4-inner .about-circle {
  height: 600vh;
  transition: background 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle {
    height: 400vh;
  }
}
.about-s4-inner .about-circle.active {
  background: #ffa6a6;
}
.about-s4-inner .about-circle .circle {
  max-width: 33vw;
  width: 760px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle {
    max-width: 60vw;
    width: 100%;
  }
}
.about-s4-inner .about-circle .circle .circle__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: max-content;
  text-align: center;
}
.about-s4-inner .about-circle .circle .circle__inner .circle-txt1 {
  font-size: 3vw;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  margin-bottom: 2vw;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle__inner .circle-txt1 {
    font-size: 4vw;
  }
}
.about-s4-inner .about-circle .circle .circle__inner .circle-txt2 {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: #000;
  margin-bottom: 2vw;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle__inner .circle-txt2 {
    font-size: 3vw;
  }
}
.about-s4-inner .about-circle .circle .circle__inner .circle-txt3 {
  line-height: 1.7;
  font-size: 1.2vw;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle__inner .circle-txt3 {
    font-size: 2vw;
  }
}
.about-s4-inner .about-circle .circle .circle__inner .circle-txt4 {
  line-height: 1.7;
  font-size: 1.2vw;
  color: #ff7575;
  font-weight: 700;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle__inner .circle-txt4 {
    font-size: 2vw;
  }
}
.about-s4-inner .about-circle .circle .circle__inner .ct {
  opacity: 0;
}
.about-s4-inner .about-circle .circle .circle-img-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Logo", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
}
.about-s4-inner .about-circle .circle .circle-img-txt .img-txt1 {
  position: absolute;
  top: 30%;
  font-size: 3vw;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle-img-txt .img-txt1 {
    font-size: 5vw;
  }
}
.about-s4-inner .about-circle .circle .circle-img-txt .img-txt2 {
  display: flex;
  align-items: baseline;
  gap: 10px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-size: 8vw;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle-img-txt .img-txt2 {
    font-size: 13vw;
  }
}
.about-s4-inner .about-circle .circle .circle-img-txt .img-txt2.etc {
  font-size: 1.5vw;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle-img-txt .img-txt2.etc {
    font-size: 3vw;
  }
}
.about-s4-inner .about-circle .circle .circle-img-txt .img-txt2 .val {
  font-size: 1.5vw;
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle-img-txt .img-txt2 .val {
    font-size: 3vw;
  }
}
.about-s4-inner .about-circle .circle .circle-img-txt .img-txt2 .plus {
  position: absolute;
  font-size: 30px;
  right: -20px;
  top: 44%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .about-s4-inner .about-circle .circle .circle-img-txt .img-txt2 .plus {
    font-size: 4vw;
  }
}
.about-s4-inner .about-circle .circle .circle-img-txt span {
  color: #000;
}
.about-s4-inner .about-circle .circle .circle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.about-s4-inner .about-circle .circle .circle-img img {
  position: absolute;
}
.about-s5 {
  overflow: hidden;
}
.about-s5-inner .about-s5-tit {
  display: flex;
  align-items: center;
}
.about-s5-inner .about-s5-tit .slide {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 7vw;
  font-family: "Logo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.about-s5-inner .about-s5-tit .slide img {
  width: 7vw;
}
.about-s5-inner .char-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .about-s5-inner .char-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about-s5-inner .char-box .char-box-inner {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .about-s5-inner .char-box .char-box-inner {
    aspect-ratio: 1/1.5;
  }
}
@media (max-width: 768px) {
  .about-s5-inner .char-box .char-box-inner:hover {
    pointer-events: none;
  }
}
.about-s5-inner .char-box .char-box-inner:hover .txt-box .bg {
  clip-path: circle(50% at 50% 50%);
}
.about-s5-inner .char-box .char-box-inner:hover .txt-box .txt {
  opacity: 1;
}
.about-s5-inner .char-box .char-box-inner:nth-child(1) .bg {
  background-color: #FFD905;
}
.about-s5-inner .char-box .char-box-inner:nth-child(2) .bg {
  background: #5546FF;
}
.about-s5-inner .char-box .char-box-inner:nth-child(3) .bg {
  background: #ff7575;
}
.about-s5-inner .char-box .char-box-inner:nth-child(4) .bg {
  background: #93FF7E;
}
.about-s5-inner .char-box .char-box-inner .img-box {
  width: 100%;
  height: 100%;
}
.about-s5-inner .char-box .char-box-inner .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-s5-inner .char-box .char-box-inner .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  height: 100%;
}
.about-s5-inner .char-box .char-box-inner .txt-box .bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  padding-top: 200%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.6s;
}
@media (max-width: 768px) {
  .about-s5-inner .char-box .char-box-inner .txt-box .bg {
    left: unset;
    right: -1px;
    top: unset;
    bottom: -1px;
    width: 100%;
    height: 50%;
    clip-path: polygon(100% 100%, 0% 100%, 100% 100%);
    padding: 0;
    border-radius: 0;
    transform: unset;
  }
}
.about-s5-inner .char-box .char-box-inner .txt-box .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  transition: 0.5s 0.2s;
  opacity: 0;
}
@media (max-width: 768px) {
  .about-s5-inner .char-box .char-box-inner .txt-box .txt {
    opacity: 0;
    font-size: 3vw;
    top: unset;
    bottom: 5px;
    left: unset;
    right: 5px;
    transform: unset;
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .about-s5-inner .char-box .char-box-inner .txt-box .txt br {
    display: none;
  }
}

.about-s6 {
  height: 600vh;
}
.about-s6-inner {
  position: relative;
  padding: 0 20px;
  height: 100%;
}
.about-s6-inner .about-s6-tit {
  position: absolute;
  top: 15%;
}
.about-s6-inner .about-s6-tit h2 {
  font-family: "Logo", sans-serif;
  font-size: 180px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .about-s6-inner .about-s6-tit h2 {
    font-size: 12vw;
  }
}
.about-s6-inner .progress-bar {
  position: absolute;
  top: 45%;
  left: 20px;
  right: 20px;
  height: 5px;
  background: #d9d9d9;
}
@media (max-width: 768px) {
  .about-s6-inner .progress-bar {
    top: 35%;
  }
}
.about-s6-inner .progress-bar .progress-bar--inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
}
.about-s6-inner .career-slide {
  position: absolute;
  top: 40%;
  left: 20px;
}
@media (max-width: 768px) {
  .about-s6-inner .career-slide {
    top: 45%;
  }
}
.about-s6-inner .career-slide .career-box {
  display: flex;
  gap: 100px;
}
.about-s6-inner .career-slide .career-box--inner {
  flex-shrink: 0;
}
.about-s6-inner .career-slide .career-box--inner .year {
  font-size: 96px;
  font-weight: 700;
  font-family: "Logo", sans-serif;
}
@media (max-width: 768px) {
  .about-s6-inner .career-slide .career-box--inner .year {
    font-size: 8vw;
    white-space: nowrap;
  }
}
.about-s6-inner .career-slide .career-box--inner .txt {
  font-size: 28px;
  font-weight: 400;
  font-family: "m-txt", sans-serif;
}
@media (max-width: 768px) {
  .about-s6-inner .career-slide .career-box--inner .txt {
    font-size: 3vw;
    width: max-content;
  }
}

.portfolio-s1 {
  height: 100vh;
}

.portfolio-s2-inner .sort-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .sort-list {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.portfolio-s2-inner .sort-list li button {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  background: #fff;
  padding: 5px 20px;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .sort-list li button {
    font-size: 2.8vw;
  }
}
.portfolio-s2-inner .sort-list li button.select {
  background: #000;
  color: #fff;
}
.portfolio-s2-inner .portfolio-list {
  padding: 120px 20px;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list {
    padding: 20px 20px 180px 20px;
  }
}
.portfolio-s2-inner .portfolio-list .portfolio-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 170px;
  border-bottom: 1px solid #D7D7D7;
  padding: 0 20px;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list .portfolio-item {
    min-height: 130px;
  }
}
.portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(1) {
  border-top: 1px solid #D7D7D7;
}
.portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(9) a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(9) a img {
  width: 90px;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(9) a img {
    width: 15vw;
  }
}
.portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(11) > a img, .portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(12) > a img, .portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(13) > a img, .portfolio-s2-inner .portfolio-list .portfolio-item:nth-child(19) > a img {
  object-fit: contain !important;
  background: #ff7575;
}
.portfolio-s2-inner .portfolio-list .portfolio-item > a {
  width: 90%;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list .portfolio-item > a {
    pointer-events: none;
  }
}
.portfolio-s2-inner .portfolio-list .portfolio-item > a:hover .thumb {
  opacity: 1;
}
.portfolio-s2-inner .portfolio-list .portfolio-item > a p {
  font-size: 40px;
  font-family: "Logo", sans-serif;
  color: #000;
  font-weight: 500;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list .portfolio-item > a p {
    font-size: 7vw;
  }
}
.portfolio-s2-inner .portfolio-list .portfolio-item > a span {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "Logo", sans-serif;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list .portfolio-item > a span {
    font-size: 3vw;
  }
}
.portfolio-s2-inner .portfolio-list .portfolio-item > a .thumb {
  position: absolute;
  width: 380px;
  height: 500px;
  right: 10%;
  top: 50%;
  transform: translateY(-40%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1;
  pointer-events: none;
}
.portfolio-s2-inner .portfolio-list .portfolio-item > a .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio-s2-inner .portfolio-list .portfolio-item .git {
  width: 90px;
}
@media (max-width: 768px) {
  .portfolio-s2-inner .portfolio-list .portfolio-item .git {
    width: 15vw;
  }
}
.contact-s1 {
  height: 100vh;
}

.contact-s2 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .contact-s2 {
    max-width: unset;
    padding: 0 40px;
  }
}
.contact-s2 .contact-inner .form-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .contact-s2 .contact-inner .form-area {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .contact-s2 .contact-inner .form-area .item {
    max-width: 100% !important;
  }
}
.contact-s2 .contact-inner .form-area .item:not(:nth-child(5)) {
  max-width: calc(50% - 15px);
  width: 100%;
}
.contact-s2 .contact-inner .form-area .item:nth-child(5) {
  max-width: 100%;
  width: 100%;
}
.contact-s2 .contact-inner .form-area .item .form-tit {
  font-size: 25px;
  font-weight: 500;
  font-family: "Logo", sans-serif;
}
@media (max-width: 768px) {
  .contact-s2 .contact-inner .form-area .item .form-tit {
    font-size: 3.5vw;
  }
}
.contact-s2 .contact-inner .form-area .item .form-cont input {
  width: 100%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #111;
}
.contact-s2 .contact-inner .form-area .item .form-cont textarea {
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #000;
  resize: none;
  padding: 12px 0;
}
.contact-s2 .contact-inner .form-area .item .error {
  display: none;
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
  font-family: "m-txt", sans-serif;
}
@media (max-width: 768px) {
  .contact-s2 .contact-inner .form-area .item .error {
    font-size: 2.5vw;
  }
}
.contact-s2 .contact-inner .form-area .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}
.contact-s2 .contact-inner .form-area .btn-box .area .btn-wrap {
  display: flex;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #111;
  align-items: center;
  justify-content: center;
  font-family: "m-txt", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 0.9;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .contact-s2 .contact-inner .form-area .btn-box .area .btn-wrap {
    width: 34vw;
    height: 34vw;
    font-size: 5vw;
  }
}
.contact-s2 .contact-inner .form-area .btn-box .area .btn-wrap:hover .hover {
  clip-path: circle(50% at 50% 50%);
}
.contact-s2 .contact-inner .form-area .btn-box .area .hover {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.required {
  color: #ff0000;
  font-weight: bold;
}

.error {
  display: none;
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
  font-family: "m-txt", sans-serif;
}
.error[role=alert] {
  display: block;
}

button:focus,
input:focus,
textarea:focus,
a:focus {
  outline: 2px solid #007acc;
  outline-offset: 2px;
}

button[aria-pressed=true] {
  background-color: #007acc;
  color: #fff;
}

input[aria-invalid=true],
textarea[aria-invalid=true] {
  border-color: #ff0000;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
